{% extends '@EasyAdmin/layout.html.twig' %}
{% block stylesheets%}
    {{encore_entry_css_files('page')}}
{% endblock%}

{% block content %}
    <div class="m-3">
    <h1 class="display-4 bold">Administration</h1>


        <p class="lead">Bienvenue dans votre espace, cher <span style="color: red">admin. </span></p>
        <hr class="my-4">
        <p>Vous retrouverez ici vos tableaux et vos décorations, vous pouvez les modifier/supprimer ou en créée.</p>
        <a style="margin-right: 10px;" class="btn btn-primary btn-lg" href="{{path('homepage')}}" role="button">Accéder à votre site -></a>
        <a style="margin-right: 10px;" class="btn btn-primary btn-lg" href="{{path('decoration')}}" role="button">Accéder à vos décorations -></a>
        <a class="btn btn-primary btn-lg" href="{{path('tableaux')}}" role="button">Accéder à vos tableaux -></a>
    </div>


{% endblock %}