{% extends'base.html.twig' %}
{% block title %}Dany - Bienvenue sur la page cancers de mon site web{% endblock %}
{% block metadescription %}Bonjour je suis Dany Bruyère je vous présente mon site qui consistera a vous presenter mes deux cancers et mes conseils et aide pour vous aide, Je vous présenterai également mes tableaux et mes décoration au fil du temps{% endblock %}

{% block body %}
    <section class="backgroundcancer">
   <div class="container">
       <div class="row col">
           <h1 class="text-center" style="text-shadow: 3px 2px 1px black"> Mes Cancers</h1>
       </div>
       <div class="row col">
           <div style="width: 60%; margin: 20px auto;  box-shadow: 2px 3px black;" class="border border-dark border-3 rounded txt-pres-cancer">
           <p class="text-center textcancer">Je m'appelle DANY et j'ai 65 ans.
               Je viens évoquer, transmettre et surtout apporter de l'espoir
               et de la force pour faire face à cette maladie que l'on appelle
               CANCER
           </p>
           </div>
       </div>
       <div class="row col cancers" style="display: inline-block">
           <div style="margin: 20px auto;  box-shadow: 2px 3px black; float: left; width: 48%" class="heightcancer border border-dark border-3 rounded">
                <h2 class="text-center">Thyroïdien Papillaire</h2>
               <p class="textcancer cancer1">En 1968, j'ai eu un carcinome thyroïdien papillaire, envahissant la chaîne ganglionnaire.
                   J'ai été opérée plusieurs fois dans les années 1970.
                   Par la suite, j'ai toujours eu une thyroglobuline élevée, pour me soigner en 1980, j'ai eu trois fois par hospitalisation du iode 131.
                   Le résultat thyroglobuline toujours élevée.
                   Beaucoup d'examens, suivis par un professeur à LYON,
                   il ne comprenait pas pourquoi la thyroglobuline était toujours élevée.
                   Bien sûr sous traitement de freinage de l'activité.
                   Proposition par le professeur de refaire le iode 131 dans les années 2015,
                   il a fait passer son souhait par réunion.
                   Le résultat de la réunion : ne pas faire de iode 131 vu le nombre d'années passées.
                   Depuis un suivi chaque année avec bilan.

               </p>
           </div>
           <div style="margin: 20px auto;  box-shadow: 2px 3px black; float: right; width: 48%" class="border border-dark border-3 rounded heightcancer">
                <h2 class="text-center">Cancer du Sein</h2>
               <p class="textcancer">En 2017 mammographies suivies d'une échographie.
                   <br>
                   Résultat : nodule donc programmé biopsie.
                    <br>
                   Résultat : Carcinome
                   <br>
                   Opération au mois de mai 2017, suite d'une deuxième opération pour faire la chaîne ganglionnaire.
                   Octobre 2017 chimio 1 fois par semaine, avec les effets secondaires :
                   Mal de tête, nausées, saignements du nez et bien sûr beaucoup de fatigue.
                   Fin première chimio, on attaque la deuxième en janvier 2018.
                   Une toutes les trois semaines, avec avant chaque chimio une piqûre HERCEPTINE.
                   Fin chimio octobre 2018.
                   Ensuite RAYONS,
                   30 séances avec des allergies, et encore de la fatigue ++.
                   Je suis à ma 5e année en mai 2022.
                   Bien évidemment avant tout le protocole traitement, stress ++, dénis
                   et peur.
                   Concernant les cheveux une étape très difficile pour une femme, ne voulant pas me voir dévalorisée par la perte des cheveux pendant la chimio, j'ai pris la décision de me faire raser et faire le choix d'une perruque avant de commencer celle-ci. Je ne regrette pas et je le conseille, c'est tellement dur. J'ai été très entouré par ma famille mon époux, ma fille et mes deux petits-fils que j'adore.
                   Aujourd'hui, je vais bien et je reste positive.
                   Mon message :
                   rester positif, se battre, faire un peu de sport, sortir
                   se trouver une occupation pour s'évader.
                   Moi ça été la peinture à l'huile et création déco mariage et Noël.

               </p>
           </div>
       </div>
   </div>
</section>
{% endblock %}
