{% extends'base.html.twig' %}
{% block title %}test{% endblock %}
{% block metadescription %}test{% endblock %}

{% block body %}
    <section class=" backgroundcancer">
   <div class="container">
       <div class="row col">
           <h1 class="text-center" style="text-shadow: 3px 2px 1px black"> Mes Cancers</h1>
       </div>
       <div class="row col">
           <div style="width: 60%; margin: 20px auto;  box-shadow: 2px 3px black;" class="border border-dark border-3 rounded txt-pres-cancer">
           <p class="text-center textcancer">Je m'appelle DANY et j'ai 65 ans.
               Je viens évoquer , transmettre ,et surtout   apporter de l'espoir
               et de la force pour faire face à cette maladie que l'ont appelle
               CANCER
           </p>
           </div>
       </div>
       <div class="row col cancers" style="display: inline-block">
           <div style="margin: 20px auto;  box-shadow: 2px 3px black; float: left; width: 48%" class="heightcancer border border-dark border-3 rounded">
                <h2 class="text-center">Thyroïdien Papillaire</h2>
               <p class="textcancer cancer1">En 1968 ,j' eu un carcinome thyroïdien papillaire, envahissant la chaine ganglionnaire
                   J'ai été opérée plusieurs fois  dans les années 1970.
                   Par la suite, J'ai toujours eu une thyroglobuline élevé, pour me soigné en 1980 j'ai eu en trois fois par hospitalisation du iode 131.
                   le résultat thyroglobuline toujours élevé.
                   Beaucoup d'examens ,suivi par un professeur à LYON
                   il ne comprenait pas pourquoi la  thyroglobuline était toujours élevé.
                   Bien sûr sous traitement de freinage de l'activité.
                   Proposition par le professeur de refaire iode 131  dans les années 2015
                   Il a fait passer son souhait par réunion
                   Le résultat de la réunion : Ne pas faire de iode 131 vu le nombres d'années  passées.
                   Depuis  un suivi chaque année avec bilan.

               </p>
           </div>
           <div style="margin: 20px auto;  box-shadow: 2px 3px black; float: right; width: 48%" class="border border-dark border-3 rounded heightcancer">
                <h2 class="text-center">Cancer du Sein</h2>
               <p class="textcancer">En 2017  mammographie suivie d'une échographie.
                   Résultat : Nodule ,donc programmé biopsie.
                   Résultat: Carcinome
                   Opération au mois de mai 2017, suite deuxième opération pour faire la chaine ganglionnaire .
                   Octobre 2017 chimio 1 par semaine,  avec les effets secondaires
                   Mal de tête, nausées, saignements du nez bien sûr beaucoup de fatigue.
                   Fin premier chimio on attaque la deuxième  en janvier 2018
                   une toute les trois semaines, avec avant chaque chimio une piqure HERCEPTINE
                   Fin chimio octobre 2018
                   Ensuite                        RAYONS
                   30 séances avec des allergies ,et encore de la fatigue ++++
                   Je suis à  ma 5eme année Mai 2022.
                   bien évidement avant tout le protocole traitement, stress++,dénis
                   et peur.
                   Concernant les cheveux une étape très difficile pour une femme, ne voulant pas me voir dévalorisée par la perte des cheveux pendant la chimio, j'ai prit la décision de me faire rasée et faire le choix d'une perruque avant de commencer celle-ci. Je ne regrette pas et je le conseil s'est tellement dur. J'aie été très entouré par ma famille mon époux ,ma fille et mes deux petits fils que j'adore.
                   Aujourd'hui je vais bien et je reste positive.
                   Mon message :
                   rester positif, se battre, faire un peu de sport ,sortir
                   se trouvé une occupation pour s'évader.
                   Moi ca été la peinture à l'huile et création déco mariage et noël.

               </p>
           </div>
       </div>
   </div>
</section>
{% endblock %}
